<html>
    <head>
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
        <content>
            <div class="controls-main">
                <div class="controls">
                <div class="platform-controls">
                    <div class="directions">
                        Platform
                        <div class="north">
                            <button>North</button>
                        </div>
                        <div class="east-west">
                            <button>West</button>
                            <button>East</button>
                        </div>
                        <div class="south">
                            <button>South</button>
                        </div>
                    </div>
                </div>
                <div class="rotation-controls">
                    <div class="cab">
                        Cab
                        <div class="east-west">
                            <button>CCW</button>
                            <button>CW</button>
                        </div>
                    </div>
                </div>
                <div class="side-by-side">
                    <div class="hook-controls">
                        <div class="hook">
                            Hook
                            <div>
                                <button>Up</button>
                            </div>
                            <div>
                                <button>Down</button>
                            </div>
                        </div>
                    </div>
                    <div class="boom-controls">
                        <div class="boom">
                            Boom
                            <div>
                                <button>Up</button>
                            </div>
                            <div>
                                <button>Down</button>
                            </div>
                        </div>
                    </div>
                </div>
</div>     
            </div>
        </content>
    </body>
</html>